html,body{
    height:100% ;
    margin: 0;
    background-color: saddlebrown;
}
.container{
   width: 66%;
   margin-left: auto;
   margin-right: auto;
}
.div1{
    height: 50px;
    padding-left:325px;
    padding-top: 30px;
    font-size: 25px;
    color: white;
}
.div2{
    
    border:2px black solid;
    height: 40px;
    width: 1000px;
    
}
ul{
    list-style-type: none;
    margin: 0;
    padding-top:8px;
}
li{
    display: inline;
    padding-right: 10px;
    font-size: 20px;
    border-right: 1px solid white;
}
img{
   
    border: 2px solid black;
}
h3{
    font-size: 15px;
}
.flex-container{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.flex-item1{
  height: 200px;
  width: 30%;
  font-size:10px;
  color: white;
 
}
.flex-item2{
    height: 200px;
    width: 30%;
    font-size:10px;
    color: white;
  }
  .flex-item3{
    height: 200px;
    width: 30%;
    font-size:10px;
    color: white;
  }
  .heading{
    text-align:center;
    font-size: 17px;
    width: 150px;
    border-radius: 25px;
    color: black;
    background-color: gray;
  }
  .flex-container2{
      display: flex;
      justify-content:left;
  }
  .item1{
    font-size:12px;
    color: black;
    background-color: white;
    text-align: center;
    padding:4px;
    
  }
  .flex-container3{
      background-color: black;
      height: 150px;
      width: 300px;
      display: flex;
  }
  p{
      text-align: justify;
      word-wrap: break-word;
  }
  .item5{
      background-color:black;
      height: 150px;
      width: 300px;
      font-size:12px;
      color: white;
      padding: 4px;
  }
  .flex-container4{
    height: 170px;
    width: 300px;
    display: flex;
    background-color: black;
  }
  .item7{
    background-color:black;
    height: 150px;
    width: 300px;
    font-size:12px;
    color: white;
    padding: 4px;
  }
  .divlast{
      background-color: coral;
      text-align: center;

  }
  a:link{
      color: yellow;
  }
  a:visited{
      color: white;
  }
  a:hover{
      color: red;
  }
  a:active{
      color: seagreen;
  }